@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --font: "Roboto", sans-serif;
  --text-grey: rgb(90, 90, 90);
  --font-lg: 18px;
  --font-md: 14px;
  --font-sm: 10px;
  --font-bold: 700;
  --font-semibold: 500;
  --font-light: 300;
  --border-grey: rgb(200, 200, 200);
  --btn-primary: #1896f5;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

.feed__body {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.feed__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem;
  background-color: rgb(190, 205, 254);
}

.feed__aside-nav-container {
  position: fixed;
}

.feed__aside-logo {
  width: 8rem;
}

.feed__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--text-grey);
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
}

.feed__nav-item {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  cursor: pointer;
}

.nav__image {
  width: 2rem;
}

.feed__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.feed__create-post-button {
  padding: 0.5rem;
  margin-top: 5vh;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  font-family: var(--font);
  background-color: var(--btn-primary);
  color: white;
  width: 50%;
  position: absolute;
  cursor: pointer;
}

.feed__create-post-button:hover {
  transition-duration: 0.3s;
  background-color: #1f9eff;
}

.feed__post {
  width: 70%;
  margin-top: 12vh;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--border-grey);
}

.feed__post-message-container {
  color: var(--text-grey);
  font-size: var(--font-md);
  padding: 1rem;
}

.feed__article-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.feed__post-profile-img {
  margin: 0.2rem;
  margin-left: 0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.feed__post-profile-name {
  font-weight: var(--font-semibold);
}

.feed__post-profile-follow-text {
  color: rgb(111, 116, 255);
  font-weight: var(--font-light);
  cursor: pointer;
}

.feed__post-timestamp {
  color: var(--text-grey);
}

.feed__post-img {
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.feed__post-icons-container {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  color: var(--text-grey);
  padding-top: 0.5rem;
  padding-left: 2rem;
}

.feed__post-icon {
  width: 2rem;
  cursor: pointer;
}

.feed__post-comments-container {
  margin-top: 2rem;
  padding-left: 2rem;
  max-height: 20vh;
  overflow-y: auto;
}

.feed__post-comment-author {
  font-weight: var(--font-semibold);
}

.feed__post-comment-message {
  font-weight: var(--font-light);
  font-size: var(--font-md);
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
}

.feed__friends-suggestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 4rem;
  padding-right: 4rem;
  gap: 1rem;
}

.feed__friends-suggestions-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.feed__friends-suggestions-friends {
  position: fixed;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.feed__friends-suggestions-add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(150, 150, 255);
  height: 2rem;
  width: 2rem;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.feed__friends-suggestions-add-btn:hover {
  transition-duration: 0.3s;
  background-color: rgb(113, 113, 251);
}

/* //modals */

/* create post */

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  backdrop-filter: brightness(30%);
}

.feed__create-post-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  height: 50%;
  width: 30%;
  padding: 5rem;
  background-color: white;
  border-radius: 15px;
}

.modal-close-btn {
  position: absolute;
  right: -1rem;
  top: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 73, 73);
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.feed__post-image-label,
.edit-profile-image-label {
  font-family: "Roboto";
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid var(--btn-primary);
  border-radius: 15px;
  color: var(--text-grey);
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.feed__post-image-label:hover,
.edit-profile-image-label:hover {
  background-color: var(--btn-primary);
  color: white;
}

.feed__create-post-form-textarea {
  font-family: "Roboto";
  width: 90%;
  padding: 2rem;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
  resize: none;
}

.feed__create-post-form-button {
  font-family: "Roboto";
  width: 30%;
  padding: 1rem;
  text-align: center;
  background-color: var(--btn-primary);
  text-align: center;
  border-radius: 15px;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* friends list */

.feed__friends-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: 50%;
  width: 30%;
  padding: 5rem;
  background-color: white;
  border-radius: 15px;
}

/* edit profile */

.feed__edit-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: 50%;
  width: 30%;
  padding: 5rem;
  background-color: white;
  border-radius: 15px;
}

.edit-form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.75rem;
  width: 100%;
  height: 100%;
}

.edit-form__button,
.edit-form__input {
  border-radius: 0;
  border: none;
}

.edit-form__input {
  width: 80%;
  height: 2.5rem;
  border: 0.1rem solid rgb(161, 161, 161);
  background-color: #fafafa;
  padding: 0 0.5rem;
}

.edit-form-div__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.edit-profile-image-label {
  align-self: center;
}

.edit-form__button {
  height: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  background-color: #1896f5;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
}

/* // hidden */

.hidden {
  display: none;
}
